.title {
  height: 27.2px;
  width: 560px;
  margin-bottom: 12px;
  margin-top: 1px;
  font: 24px Arial, sans-serif;
  font-weight: normal;
  color: #424242
}

.learnMore {
  color: #70579D;
  font-size: 11px;
  float: right;
  margin: -10px 0 0 0px;
  padding: 10px 0 1px 3px;
  border-left: 1px dotted #ccc;
}

.titleBox {
  display: grid;
  grid-template-columns: 1fr 11%;
}

.a {
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
}