.description {
  height: 265px;
  position: absolute;
  width: 360px;
}

.description-image {
  border: none;
  vertical-align: middle;
  height: 190px;
  width: 128px;
  box-shadow: 0 3px 5px rgb(153, 150, 150);
}

.descriptionSplit {
  display: grid;
  grid-template-columns: 38% 1fr;
  height: 265px;
}