body {
  font-family: Verdana, Arial, sans-serif;
  color: #333333;
}

.cont {
  display: block;
}

.more-like-this {
  height: 304.2px;
  width: 626px;
  padding: 20px 21px 24px 20px;
  display: grid;
  grid-template-rows: 39.2px 1fr;
  border-bottom: 1px solid #ccc;
}

.descriptousel {
  display: grid;
  grid-template-columns: 41% 1fr;
}

.carouNav {
  position: relative;
}
